<section class="container mt-5 text-center text-md-left">
  <h2>Lista de Tareas</h2>
  <div>
    <form class="btn-group w-75" (submit)="addTask()">
      <input
        type="text"
        class="form-control w-25 me-2"
        [(ngModel)]="newTaskTitle"
        placeholder="Título tarea"
        name="newTaskTitle"
      />
      <input
        type="text"
        class="form-control w-50 me-2"
        [(ngModel)]="newTaskDescription"
        placeholder="Descripción de la tarea"
        name="newTaskDescription"
      />
      <button class="btn btn-outline-primary rounded-pill" type="submit">
        Agregar
      </button>
    </form>
  </div>
  <table class="table table-striped mt-5">
    <thead>
      <tr>
        <th>Title</th>
        <th>Description</th>
        <th>Estado</th>
        <th>Eliminar</th>
      </tr>
    </thead>
    <tbody>
      @for(task of tasks; track task){
      <tr>
        <td class="w-25">
          <strong>{{ task.titulo }}</strong>
        </td>
        <td>
          <p>{{ task.descripcion }}</p>
        </td>
        <td>
          <input
            class="form-check-input"
            type="checkbox"
            id="check1"
            (change)="toggleTaskCompletion(task.id)"
            [checked]="task.completada"
          />
        </td>
        <td>
          <button class="btn" (click)="removeTask(tasks.indexOf(task))">
            <i class="bi bi-trash"></i> ❌
          </button>
        </td>
      </tr>
      }
    </tbody>
  </table>
</section>
